main {
    flex: 1;
    padding: 4rem;
    margin-left: 27rem;

    div {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            h2 {
                font-size: 1.3rem;
            }

            p {
                color: #979797;
                font-size: 0.8rem;
            }

        }

        div {
            position:relative;

            select {
                height: 2.2rem;
                background-color: #0e0d0d;
                color: #fff;
                padding: 0.5rem;
                border: 1px solid #413f3f;
                border-radius: 0.4rem;
                outline: none;
                text-indent: 1.3rem;
                width: 10rem;
            }

            .icon-calendar {
                position: absolute;
                color: #ebd404;
                top: 0.6rem;
                left: 0.6rem;
            }
        }

    }

    .morning {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        .data-info {
            border-top: 1px solid #413f3f;
            border-left: 1px solid #413f3f;
            border-right: 1px solid #413f3f;
            display: flex;
            justify-content: space-between;
            border-radius: 0.4rem 0.4rem 0 0;
            padding: 1rem;
            flex-direction: row;

            span {
                color: #979797;
                font-size: 0.75rem;
                display: flex;
                align-items: center;
                gap: 0.7rem;
            }

            time {
                color: #979797;
                font-size: 0.75rem;
            }
        }

        ul {
            border: 1px solid #413f3f;
            border-radius: 0 0 0.4rem 0.4rem;
            padding: 1rem;
            list-style: none;

            li {
                display: flex;
                justify-content: space-between;

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 2.5rem;

                    span {
                        color: #979797;
                        font-size: 0.87rem;
                    }

                    time {
                        font-weight: bold;
                        font-size: 0.87rem;
                    }
                }

                span {
                    cursor: pointer;
                }
            }
        }
    }
}