section {
    background-color: #000;
    color: #fff;
    padding: 4%;
    position: relative;

    .title {
        color: var(--color-default);
        font-size: 1.1rem;
        background-color: gray;
        position: absolute;
        padding: 0.8rem;
        border-radius: 0.4rem;
        top: -2px;
        left: -2px;
    }

    .second-title {
        margin: 2rem 0 0.3rem 0;
    }

    .legend-instruction {
        color: gray;
        font-size: 0.8rem;
    }

    form {
        .label-title {
            display: block;
            margin: 1rem 0 0.5rem 0;
            font-weight: bold;
            font-size: 0.8rem;
        }

        .input-date {

            position: relative;
            margin-bottom: 1.1rem;

            .icon-calendar {
                position: absolute;
                top: 0.5rem;
                left: 0.6rem;
                color: var(--color-default);
            }

            input[type="date"] {
                width: 100%;
                padding: 0.4rem;
                border-radius: 0.3rem;
                border: 1px solid gray;
                background-color: #000;
                color: var(--color-default);
                text-indent: 0.8rem;
            }
        }

        .span-title {
            font-weight: bold;
            font-size: 0.8rem;
        }

        .time-option {
            margin-bottom: 1rem;

            .span-subtitle {
                margin-top: 0.5rem;
                font-size: 0.7rem;
                color: gray;
                font-weight: bold;
                display: block;
            }

            .time-container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                margin: 0.8rem 0 0.4rem 0;
            }
        }

        .input-name {
            position: relative;

            .icon-person {
                position: absolute;
                top: 0.05rem;
                left: 0.6rem;
                color: var(--color-default);
            }

            input[type="text"] {
                width: 100%;
                padding: 0.4rem;
                border: none;
                margin: 0.5rem 0 1.1rem 0;
                border: 1px solid gray;
                border-radius: 0.3rem;
                background-color: #000;
                color: #fff;
                text-indent: 1.7rem;
            }

        }

        button {
            padding: 0.5rem;
            font-weight: bold;
            font-size: 0.8rem;
            width: 100%;
            border-radius: 0.3rem;
            border: none;
            background-color: var(--color-default);
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: burlywood;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    section {
        padding: 2%;

        .title {
            font-size: 0.8rem;
        }

        .second-title {
            font-size: 1rem;
            margin-top: 3rem;
        }

        .legend-instruction {
            font-size: 0.7rem;
        }

        form {
            .label-title {
                font-size: 0.7rem;
            }

            .span-title {
                font-size: 0.7rem;
            }

            button {
                font-size: 0.7rem;
            }
        }
    }
}