.app-container {
  position: relative;
  display: flex;
  min-height: 100vh;

  section {
    width: 30%;
    min-height: 100%;
  }

  main {
    flex: 1;
    min-height: 100%;
  }
}

@media screen and (max-width: 528px) {
  .app-container {
    flex-direction: column;

    section {
      width: 100%;
    }
  }
}