li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.7rem;

    div {
        display: flex;
        gap: 2rem;

        .time {
            font-weight: bold;
            font-size: 0.8rem;
        }

        .name {
            font-size: 0.98rem;
            color: var(--legend-secondary);
            font-weight: bold;
        }
    }

    .icon-delete {
        color: var(--color-default);
        cursor: pointer;
    }
}